* {
    margin: 0px;
    padding: 0px;
    outline: dotted red 1px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 970px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.header-left {
  display: inline-block;
  max-height: 72px;
}

.header-right {
  max-height: 72px;
  margin-top: 45px;
}

.header-right h3{
  display: inline-block;
}

nav.top-menu {
  padding: 1px;
  padding-bottom: 5px;
  background-color: #DBE1E7;
  margin-bottom: 20px;
  min-height: 35px;
}

nav.top-menu ul {
  list-style-type: none;
  margin-top: 5px;
  margin-left: 100px;
}

nav.top-menu ul li + li{
  border-left: 1px solid gray;
}

nav.top-menu ul li {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  display: inline-block;
}

nav.top-menu ul li:last-child {
  border-right: 1px;
  color: white;
  padding-left: 80px;
}

nav.top-menu a {
  text-decoration: none;
  color: gray;
}

.blackback {
  background-color: grey;
/*  min-height: 700px;*/
}

/*.col-12  {
  min-height: 200px;
}*/












