* {
    margin: 0px;
    padding: 0px;
    /*outline: dotted red 1px;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 970px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
    margin-right: 10px;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 220px;
    /*width: 91.66%;*/
}

.col-12 {
    width: 100%;
}

.header-left {
  display: inline-block;
  max-height: 72px;
}

.header-right {
  max-height: 72px;
  margin-top: 45px;
}

.header-right h3{
  display: inline-block;
}

nav.top-menu {
  padding: 1px;
  padding-bottom: 5px;
  background-color: #DBE1E7;
  margin-bottom: 20px;
  min-height: 35px;
}

nav.top-menu ul {
  list-style-type: none;
  margin-top: 5px;
  margin-left: 50px;
}

nav.top-menu ul li + li{
  border-left: 1px solid gray;
}

nav.top-menu ul li {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  display: inline-block;
}

nav.top-menu ul li:last-child {
  border-right: 1px;
  color: white;
  padding-left: 80px;
}

nav.top-menu a {
  text-decoration: none;
  color: #666666;
}

.blackback {
  background-color: black;
}

.bigbody {
  margin-left: 10px;
  margin-right: 10px;
}

.main-pic {
  border: 5px solid white;
  margin: 10px;
  height: 95%;
  width: 95%;
}

.small-logo {
  height: 20%;
  width: 20%;
  padding-left: 10px;
}

.middle-left p {
  color: #929964;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  padding-top: 3px;
  vertical-align: top; 
}

.middle-right {
  margin-left: 10px;
  margin-top: 10px;
}

.middle-right h5 {
  background-color: #FFC635;
  padding: 10px;
}

.middle-right h4 {
  background-color: #373737;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font: white;
}

.middle-right li {
  background-color: #373737;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font: white;
  font-size: 14px;
  list-style-type: none;
}

.bottom {
  margin-left: 10px;
}


.bottom-row h5 {
  background-color: #FFC635;
  padding: 10px;
  margin-right: 15px;
}

.bottom-white {
  background-color: white;
}

.bottom-white p {
  font-size: 12px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

button.read-more {
  background-color: #FFC635;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-left: 100px;
  width: 100px;
}





